{% if message %}
<script>
    //alert('{{ message }}');
    //alert('{{ aiu }}');
    // localStorage.setItem('hoge',uid)
    // storage = localStorage.getItem('hoge')
</script>
{% endif %}
<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <title>e-cast</title>
    <link rel=stylesheet href="{% static 'css/home.css' %}">
</head>

<body>
    <div class="heart"></div>
    <header>
        <div id="nav-drawer">
            <input id="nav-input" type="checkbox" class="nav-unshown">
            <label id="nav-open" for="nav-input"><span></span></label>
            <label class="nav-unshown" id="nav-close" for="nav-input"></label>
            <div id="nav-content">
        
                <div class="position">
                    <form action="{% url 'timeline'%}" method="post" id="TimeLine">{% csrf_token %}
                        <div class="button">
                            <button type="submit" form="TimeLine">TimeLine</button><br>
                        </div>
                    </form>
                    <form action="{% url 'profile'%}" method="post" id="Profile">{% csrf_token %}
                        <div class="button">
                            <!-- <input type="hidden" name="storage" value="storage"> -->
                            <button type="submit" form="Profile">Profile</button><br>
                        </div>
                    </form>
                    <form action="{% url 'signout'%}" method="post" id="SignOut">{% csrf_token %}
                            <div class="button">
                                <button type="submit" form="SignOut">Logout</button><br>
                            </div>
                    </form>
                </div>

            </div>
        </div>
    </header>

    <h1>VIVA HOME!!!</h1>

</body>

</html>