{% if message %}
<script>
    //alert('{{ message }}');
</script>
{% endif %}
<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <title>e-cast</title>    
    <link rel=stylesheet href="{% static 'css/index.css' %}">
</head>

<body>
<h1>e-cast</h1>
<div>
<form action="{% url 'signin'%}" >
    <input type="submit" value="SignIn" class="button">
</form>
<form action="{% url 'signup'%}">
    <input type="submit" value="SignUp" class="button">
</form>
</div>
</body>

</html>