<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>{{data.name}}Profile</h1>
    <section>
        <div>
            <span>User_ID:</span>
            {{data.id}}
            <span>Appeal:</span>
            {{data.appeal}}
            <span></span>
        </div>
    </section>
    <section>
        
    </section>
    <section>
        <h2>My Timeline</h2>
        <div id="app">
            <ul class="other-timeline-wrap"></ul>
        </div>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
        const vm = new Vue({
        delimiters: ['{', '}'],
        data() {
            return {
                items: [],
                test: null
            }
        },
        mounted () {
            this.request()
        },
        methods: {
            request () {
            axios
            .get('http://127.0.0.1:8000/other_timeline_api')
                .then((res) => {
                    console.log(res.data)
                    let result =''
                    res.data.forEach(item => {
                        result += '<li>' + item.id + ',' + item.username + ',' + item.date + ',' + item.content + '</li>'
                    });
                    document.querySelector('.other-timeline-wrap').innerHTML = result
                //   this.items = array;
                })
                .catch((err) => {
                console.log(err);
                });
            }
        }
        }).$mount('#app');
        </script>
    </section>
</body>
</html>
