<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<title>e-cast</title>
</head>

<body>
<h1>タイムライン</h1>
<div id="app">
    
    <ul class="timeline-wrap">
    </ul>
    <p>
        oppai
    </p>
</div>
<div class="opp"></div>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
const vm = new Vue({
delimiters: ['{', '}'],
  data() {
      return {
        items: [],
        test: null
      }
  },
  mounted () {
      this.request()
  },
  methods: {
    request () {
      axios
      .get('http://127.0.0.1:8000/timeline_api')
        .then((res) => {
            console.log(res.data)
            let result =''
            res.data.forEach(item => {
                result += '<li>' + item.username + ',' + item.date + ',' + item.content + '</li>'
            });
            document.querySelector('.timeline-wrap').innerHTML = result
        //   this.items = array;
        })
        .catch((err) => {
          console.log(err);
        });
    }
  }
}).$mount('#app');
</script>
</body>

</html> 